@keyframes anm {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

#time-counter {
  text-align: center;
  height: 96px;
  font-size: xx-large;
  margin-bottom: 50px;
  font-style: oblique;
  color: brown;
}

.intro {
  font-family: Ballet;
  font-weight: bolder;
  font-size: xx-large;
  height: 96px;
  padding: 35px;
  text-align: center;
  margin: 0;
}

#time-counter,
.intro {
  background-color: aliceblue;
  /* animation: anm 5s infinite; */
}

.payment {
  text-align: center;
}

.payment-info {
  margin-bottom: 50px;
}

.places {
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
}
